<!DOCTYPE html>
<html>
  <head>
    <title>Literature of the Land</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class='container'>

      #parse( $template )

      <footer>
        <h3><a href="/books">Add or View Library</a></h3>
        <h3><a href="/authors">Add or View Authors</a></h3>
        <h3><a href="/patrons">Add or View a Patron</a></h3>
        <h3><a href="/">Go Home</a></h3>

      </footer>
    </div>

  </body>
</html>
